<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/admin_main_layout}">
<head>
<meta charset="utf-8">
<style>
</style>
</head>
<section layout:fragment="content">
	<div class="btn-group">
		<button class="btn btn-lg btn-primary add-new-manager">새로운 관리자 등록</button>
		<button class="btn btn-lg btn-primary remove-manager">등록된 관리자 삭제</button>
		<button class="btn btn-lg btn-primary go-to-report">신고내역보기</button>
		<button class="btn btn-lg btn-primary remove-all-report">신고내역 모두 삭제하기</button>
		<button class="btn btn-lg btn-primary block-user">유저 차단</button>
		<button class="btn btn-lg btn-primary unblock-user">유저 차단 해제</button>
		<button class="btn btn-lg btn-primary notify-write">공지 등록하기</button>
	</div>
</section>
<th:block layout:fragment="script">
<script th:inline="javascript" th:src="@{'/js/admin.js'}"></script>
	<script th:inline="javascript">
		$(document).ready(function() {
			$(".add-new-manager").on("click",function(e){
				e.preventDefault();
				var upgradeId = prompt("관리자로 상향시킬 아이디를 입력해주세요.");
				var sendData = {
						upgradeId:upgradeId
				};
				if(confirm("정말로 관리자로 추가하길 원하십니까?")){
					adminManager.upgradeToAdmin(sendData);
				}
			});
			$(".remove-manager").on("click",function(e){
				e.preventDefault();
				var removeId = prompt("관리자에서 배제할 아이디를 입력해주세요.");
				var sendData = {
						removeId:removeId
				};
				if(confirm("정말로 관리자로 제거하길 원하십니까?")){
					adminManager.removeFromAdmin(sendData);
				}
			});
			$(".go-to-report").on("click",function(e){
				e.preventDefault();
				window.location.href= "/admin/report/list";
			});
			$(".remove-all-report").on("click",function(e){
				if(confirm("정말로 삭제하시겠습니까?")){
					adminManager.removeAllReport();
				}
			});
			$(".block-user").on("click",function(e){
				e.preventDefault();
				var blockId = prompt("차단시킬 유저 id를 입력해주세요");
				var sendData = {
						blockId:blockId
				};
				if(confirm("정말로 차단하시겠습니까?")){
					adminManager.blockUser(sendData);
				}
			});
			$(".unblock-user").on("click",function(e){
				e.preventDefault();
				var unblockId = prompt("차단 해제시킬 유저 id를 입력해주세요");
				var sendData = {
						unblockId:unblockId
				};
				if(confirm("정말로 차단 해제하시겠습니까?")){
					adminManager.unblockUser(sendData);
				}
			});
			$(".notify-write").on("click",function(e){
				window.location.href = "/admin/notify/write";
			});
		});
	</script>
</th:block>
</html>