<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/layout1}">
<section layout:fragment="content">
<h1>Community1</h1>
<h1>Community</h1>
<h1>Community</h1>
<h1>Community</h1>
<h1>Community</h1>
<h1>Community</h1>
<h1>Community</h1>
<h1>Community</h1>
<h1>Community</h1>
<h1>Community</h1>
<h1>Community</h1>
<h1>Community</h1>
<h1>Community</h1>
<h1>Community</h1>
<h1>Community</h1>
<h1>Community</h1>
<h1>Community</h1>
<h1>Community</h1>
<h1>Community</h1>
<h1>Community</h1>
<h1>Community</h1>
<h1>Community</h1>
<h1>Community</h1>
</section>
<th:block layout:fragment="script">
</th:block>
</html>