<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/layout1}">
<head>
	<meta charset="utf-8">
	<style>
		.ck-editor__editable_inline {
   	 		min-height: 400px;
		}
		.btn{
			margin-right:5px;
		}
	</style>
</head>
<section layout:fragment="content">
<div class="panel-heading">
<h1>커뮤니티</h1>
</div>
<div class="panel-body">
	<div class="form-group">
		<label>작성자</label>
		<input class="form-control" type="text" name="writer" th:value="${board.userid}" readonly="readonly">
	</div>
	<div class="form-group">
		<label>작성일</label>
		<input class="form-control" type="text" name="regdate" th:value="${#dates.format(board.regdate,'yyyy-MM-dd')}" readonly="readonly">
	</div>
	<div class="form-group">
		<label>게시판 종류</label>
		<input class="form-control" type="text" name="kind" value="community" readonly="readonly">
	</div>
	<div class="form-group">
		<label>제목</label>
		<input class="form-control" type="text" name="title" th:value="${board.title}" readonly="readonly">
	</div>
	<div class="form-group">
		<label>내용</label>
		<div id="editor"></div>
	</div>
	<button class="btn btn-primary pull-right" id="retBtn">돌아가기</button>
	<button class="btn btn-primary pull-right">추천하기</button>
	<button class="btn btn-danger pull-right" id="modifyBtn">수정/삭제</button>
</div>

</section>
<th:block layout:fragment="script">
<script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script>
<script th:inline="javascript" th:src="@{'/js/classiceditorReadonly.js'}"></script>
<script th:inline="javascript">
$(document).ready(function(e){
	editoro.setData([[${board.content}]]);
	var formObj = $("#f1");
	$("#retBtn").on("click",function(e){
		e.preventDefault();
		var url = "/community/list";
		console.log(url);
		formObj.attr("action",url);
		formObj.submit();
	});
	$("#modifyBtn").on("click",function(e){
		e.preventDefault();
		var url = "/community/modify/"+[[${board.bno}]];
		console.log(url);
		formObj.attr("action",url);
		formObj.submit();
	});
});
</script>
</th:block>
</html>