<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/layout1}">
<head>
<meta charset="utf-8">
<style>
</style>
</head>
<section layout:fragment="content">
	<div class="card">
		<div class="card-header">
			<div>
				<h2 class="float-left">[[${boardkindKO}]]</h2>
				<button class="float-right btn btn-success" id="writeNewBoard">새글쓰기</button>
			</div>
			<br> <br>
			<div>
				<div class="btn-group w-25 float-left" role="group"
					aria-label="Basic example">
					<button type="button" class="btn btn-secondary" id="orderByDate">최신순</button>
					<button type="button" class="btn btn-secondary"
						id="orderByRecommend">추천순</button>
					<button type="button" class="btn btn-secondary" id="orderByReply">댓글순</button>
					<button type="button" class="btn btn-secondary" id="orderByView">조회순</button>
				</div>
				<div class="form-group w-75 float-right">
					<button class="btn btn-primary float-right" id="searchBtn">검색하기</button>
					<input id="searchKeyword" class="w-50 form-control float-right"
						type="text" name="writer" placeholder="검색어"
						th:value="${pageVO.keyword}"> <select id="searchType"
						class="w-25 form-control float-right">
						<option value="-">---</option>
						<option value="T" th:selected="${pageVO.type}=='T'">제목</option>
						<option value="C" th:selected="${pageVO.type}=='C'">내용</option>
						<option value="W" th:selected="${pageVO.type}=='W'">작성자</option>
						<option value="TC" th:selected="${pageVO.type}=='TC'">제목+내용</option>
						<option value="TW" th:selected="${pageVO.type}=='TW'">제목+작성자</option>
						<option value="CW" th:selected="${pageVO.type}=='CW'">내용+작성자</option>
						<option value="TCW" th:selected="${pageVO.type}=='TCW'">제목+내용+작성자</option>
					</select>
				</div>
			</div>
		</div>
		<div class="card-body">
			<ul class="list-group">
				<li class="list-group-item" th:each="board:${result.result.content}">
					<table width="100%">
						<tr>
							<td class="bno" width="60%">#[[${board.bno}]]</td>
							<td rowspan="2" width="30%">[[${board.userid}]]</td>
							<td rowspan="2" width="20%">
								[[${#strings.replace(board.regdate,'T',' ')}]]</td>



						</tr>
						<tr>
							<td class="title" colspan="2"><a th:href="${board.bno}">[[${board.title}]]</a><span
								th:if="${board.recommendcnt != 0}"><i
									class="far fa-thumbs-up"></i>[[${board.recommendcnt}]]</span> <span
								th:if="${board.replycnt != 0}"><i class="far fa-comments"></i>[[${board.replycnt}]]</span></td>
						</tr>
					</table>
				</li>
			</ul>
		</div>
		<div class="mx-auto">
			<ul class="pagination">
				<li class="page-item" th:if="${result.prevPage}"><a
					class="page-link" th:href="${result.prevPage.pageNumber}+1">PREV</a></li>

				<li class="page-item"
					th:classappend="${p.pageNumber == result.currentPageNum -1}?active:''"
					th:each="p:${result.pageList}"><a class="page-link"
					th:href="${p.pageNumber}+1">[[${p.pageNumber}+1]]</a></li>

				<li class="page-item" th:if="${result.nextPage}"><a
					class="page-link" th:href="${result.nextPage.pageNumber}+1">NEXT</a></li>
			</ul>
		</div>
	</div>

</section>
<th:block layout:fragment="script">
	<script th:inline="javascript">
$(document).ready(function(){
	var formObj = $("#f1");
	var loc = window.location.href.toString().split(window.location.host)[1];
	loc = loc.substring(0,loc.indexOf("?"))+"?"+$('#f1').find('input[name!=dest]').serialize();
	console.log(loc);
	$(".card-body li a").on("click",function(e){
		e.preventDefault();
		var url = "/"+[[${boardkindEN}]]+"/getOne/"+$(this).attr('href');
		console.log(url);
		formObj.find("[name='dest']").val(loc);
		formObj.attr("action",url);
		formObj.submit();
	});
	$("#writeNewBoard").on("click",function(e){
		var url = "/"+[[${boardkindEN}]]+"/write";
		console.log(url);
		formObj.find("[name='dest']").val(loc);
		formObj.attr("action",url);
		formObj.submit();
	});
	$(".pagination a").on("click",function(e){
		e.preventDefault();
		var url ="/"+[[${boardkindEN}]]+"/list";
		console.log(url);
		formObj.find("[name='dest']").val(loc);
		formObj.attr("action",url);
		formObj.find("[name='page']").val($(this).attr("href"));
		formObj.submit();
	});
	$("#searchBtn").on("click",function(e){
		//검색하기 버튼을 눌렀을 때
		var url ="/"+[[${boardkindEN}]]+"/list";
		console.log(url);
		formObj.find("[name='dest']").val(loc);
		formObj.attr("action",url);
		var typeStr = $("#searchType").find(":selected").val();
		var keywordStr = $("#searchKeyword").val();
		formObj.find("[name='type']").val(typeStr);
		formObj.find("[name='keyword']").val(keywordStr);
		formObj.find("[name='page']").val("1");
		formObj.submit();
	});
	$("#orderByDate").on("click",function(e){
		var url ="/"+[[${boardkindEN}]]+"/list";
		console.log(url);
		formObj.find("[name='orderBy']").val("0");
		formObj.find("[name='dest']").val(loc);
		formObj.attr("action",url);
		formObj.submit();
	});
	$("#orderByRecommend").on("click",function(e){
		var url ="/"+[[${boardkindEN}]]+"/list";
		console.log(url);
		formObj.find("[name='orderBy']").val("1");
		formObj.find("[name='dest']").val(loc);
		formObj.attr("action",url);
		formObj.submit();
	});
	$("#orderByReply").on("click",function(e){
		var url ="/"+[[${boardkindEN}]]+"/list";
		console.log(url);
		formObj.find("[name='orderBy']").val("2");
		formObj.find("[name='dest']").val(loc);
		formObj.attr("action",url);
		formObj.submit();
	});
	$("#orderByView").on("click",function(e){
		var url ="/"+[[${boardkindEN}]]+"/list";
		console.log(url);
		formObj.find("[name='orderBy']").val("3");
		formObj.find("[name='dest']").val(loc);
		formObj.attr("action",url);
		formObj.submit();
	});
});
</script>
</th:block>
</html>