<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/layout1}">
<head>
<meta charset="utf-8">
<style>
.ck-editor__editable_inline {
	min-height: 400px;
}

.float-right {
	margin-right: 5px;
}
</style>
</head>
<section layout:fragment="content">
	<div class="card">
		<div class="card-header">
			<h1>수정하기</h1>
		</div>
		<div class="card-body">
			<div class="form-group">
				<label>작성자</label> <input class="form-control" type="text"
					name="writer" th:value="${board.userid}" readonly="readonly">
			</div>
			<div class="form-group">
				<label>제목</label> <input class="form-control" type="text"
					name="title" th:value="${board.title}" placeholder="제목을 입력해주세요.">
			</div>
			<div class="form-group">
				<label>내용</label>
				<div id="editor"></div>
			</div>
			<button class="btn float-right">취소</button>
			<button class="btn btn-primary float-right" id="modify">수정하기</button>
			<button class="btn btn-danger float-right" id="delete">삭제하기</button>
		</div>
	</div>
</section>
<th:block layout:fragment="script">
	<script
		src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script>
	<script th:inline="javascript" th:src="@{'/js/board.js'}"></script>
	<script th:inline="javascript" th:src="@{'/js/classiceditor.js'}"></script>
	<script th:inline="javascript" th:src="@{'/js/isEmpty.js'}"></script>
	<script th:inline="javascript">
var csrf = JSON.parse('[[${_csrf}]]');
$(document).ready(function(){
	boardMainAddress = [[${boardkindEN}]];
	console.log(csrf);
	editoro.setData([[${board.content}]]);
	var formObj = $("#f1");
	var loc = window.location.href.toString().split(window.location.host)[1];
	loc = loc.substring(0,loc.indexOf("?"))+"?"+$('#f1').find('input[name!=dest]').serialize();
	console.log(loc);
	$("#modify").on("click",function(e){
		var saveData = {
			title:$("input[name='title']").val(),
			content:editoro.getData(),
			uploads:boardManager.getFileForm(editoro),
			userid:[[${#authentication.principal.member.uid}]],
			csrf:csrf,
			bno:[[${board.bno}]]
		};
		boardManager.modify(saveData,function(result){
			alert("수정하였습니다");
			var url = "/"+[[${boardkindEN}]]+"/getOne/"+[[${board.bno}]];
			console.log(url);
			formObj.find("[name='dest']").val(loc);
			formObj.attr("action",url);
			formObj.submit();
		})
	});
	$("#delete").on("click",function(e){
		var deleteData = {
			userid:[[${#authentication.principal.member.uid}]],
			bno:[[${board.bno}]],
			csrf:csrf
		};
		boardManager.deleteBoard(deleteData,function(result){
			alert("삭제하였습니다.");
			var url = "/"+[[${boardkindEN}]]+"/list";
			console.log(url);
			formObj.find("[name='dest']").val(loc);
			formObj.attr("action",url);
			formObj.submit();
		})
	});
});
</script>
</th:block>
</html>