<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/board_main_layout}">
<head>
<meta charset="utf-8">
<style>
.board-body .ck-editor__editable_inline {
	min-height: 400px;
}

.btn {
	margin-right: 5px;
}

ul {
	list-style-type: none;
}

.replier span {
	font-size: 20px;
}

.reply-content .ck-editor__main {
	background-color: red;
}
</style>
</head>
<section layout:fragment="content">
	<div class="card" th:with="auth=${#authentication.principal} ">
		<div class="card-header">
			<h1>[[${boardkindKO}]]</h1>
		</div>
		<div class="card-body board-body">
			<div class="form-group">
				<label>작성자</label> <input class="form-control" type="text"
					name="writer" th:value="${board.userid}" readonly="readonly">
			</div>
			<div class="form-group">
				<label>작성일</label> <input class="form-control" type="text"
					name="regdate"
					th:value="${#strings.replace(board.regdate,'T',' ')}"
					readonly="readonly">
			</div>
			<div th:if="${board.regdate != board.updatedate}" class="form-group">
				<label>수정일</label> <input class="form-control" type="text"
					name="regdate"
					th:value="${#strings.replace(board.updatedate,'T',' ')}"
					readonly="readonly">
			</div>
			<div class="form-group">
				<label>제목</label> <input class="form-control" type="text"
					name="title" th:value="${board.title}" readonly="readonly">
			</div>
			<div class="form-group">
				<label>내용</label>
				<div class="editor"></div>
			</div>
			<button class="btn btn-primary float-right" id="retBtn">돌아가기</button>
			<button class="btn btn-danger float-right" id="downBtn">반대하기</button>
			<button class="btn btn-primary float-right" id="upBtn">추천하기</button>
			
			<button
				th:if="${auth} ne 'anonymousUser' and ${auth.member.uid} eq ${board.userid}"
				class="btn btn-danger float-right" id="modifyBtn">수정/삭제</button>
			<button class="btn btn-primary float-right" id="reportBtn">신고하기</button>
		</div>
		<div class="card-body text-center">
			<div class="reply-content"></div>
		</div>
		<div class="mx-auto">
			<ul class="pagination">

			</ul>
		</div>
		<div th:if="${auth} ne 'anonymousUser'"
			class="card-body reply-edit text-center">
			<div>
				<table>
					<tr>
						<td>댓글작성자</td>
					</tr>
				</table>
			</div>
			<div class='editor-reply' id='editor-reply-edit'></div>
			<div>
				<button class="btn btn-success">등록</button>
				<button class="btn btn-primary">취소</button>
			</div>
		</div>
		<div th:if="${auth} eq 'anonymousUser'"
			class="card-body reply-edit text-center">댓글을 작성하시려면 <a href="#" id="gotoLogin">로그인</a>을 하세요!</div>
	</div>
</section>
<th:block layout:fragment="script">
	<script
		src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script>
	<script th:inline="javascript"
		th:src="@{'/js/classiceditorReadonly.js'}"></script>
		<script th:inline="javascript" th:src="@{'/js/board.js'}"></script>
	<script th:inline="javascript" th:src="@{'/js/reply.js'}"></script>
	<script th:inline="javascript">
$(document).ready(function(e){
	//게시판 관련
	editoro.setData([[${board.content}]]);
	var boardBno = [[${board.bno}]];
	var formObj = $("#f1");
	var loc = window.location.href.toString().split(window.location.host)[1];
	loc = loc.substring(0,loc.indexOf("?"))+"?"+$('#f1').find('input[name!=dest]').serialize();
	console.log(loc);
	boardManager.init({
		boardMainAddress : [[${boardkindEN}]],
		formObj : formObj,
		loc:loc,
		bno:boardBno
	});
	var uid = [[${#authentication.principal} eq 'anonymousUser'?null:${#authentication.principal.member.uid}]];
	replyManager.init({
		uid:uid,
		boardBno:[[${board.bno}]],
		replyMainAddress:[[${boardkindEN}]]
	});
	$("#retBtn").on("click",function(e){
		e.preventDefault();
		var url = "/"+[[${boardkindEN}]]+"/list";
		console.log(url);
		formObj.find("[name='dest']").val(loc);
		formObj.attr("action",url);
		formObj.submit();
	});
	$("#modifyBtn").on("click",function(e){
		e.preventDefault();
		var url = "/"+[[${boardkindEN}]]+"/modify/"+[[${board.bno}]];
		console.log(url);
		formObj.find("[name='dest']").val(loc);
		formObj.attr("action",url);
		formObj.submit();
	});
	$("#gotoLogin").on("click",function(e){
		e.preventDefault();
		var url = "/login";
		console.log(url);
		formObj.find("[name='dest']").val(loc);
		formObj.attr("action",url);
		formObj.submit();
	});
	$("#upBtn").on("click",function(e){
		if(uid == null){
			if(confirm("로그인해야지 추천할 수 있습니다. 로그인하시겠습니까?")){
				e.preventDefault();
				var url = "/login";
				console.log(url);
				formObj.find("[name='dest']").val(loc);
				formObj.attr("action",url);
				formObj.submit();
			}
			return;
		}
		if(confirm("정말 추천하시겠습니까?")){
			var sendData = {
				userid:uid,
				bno:boardBno
			}
			boardManager.upRecommendcnt(sendData);
		}
	});
	$("#downBtn").on("click",function(e){
		if(uid == null){
			if(confirm("로그인해야지 반대할 수 있습니다. 로그인하시겠습니까?")){
				e.preventDefault();
				var url = "/login";
				console.log(url);
				formObj.find("[name='dest']").val(loc);
				formObj.attr("action",url);
				formObj.submit();
			}
			return;
		}
		if(confirm("정말 반대하시겠습니까?")){
			var sendData = {
				userid:uid,
				bno:boardBno
			}
			boardManager.downRecommendcnt(sendData);
		}
	});
	$("#reportBtn").on("click",function(e){
		e.preventDefault();
		var reason = prompt("신고이유를 적어주세요");
		var sendData = {
				target_no:boardBno,
				target_kind:'B',
				reason:reason,
				reporterId:uid,
				title:[[${board.title}]],
				content:[[${board.content}]]
		}
		$.ajax({
			type:'post',
			url:'/admin/report/writeReport',
			contentType:'application/json',
			data:JSON.stringify(sendData),
			success:function(result){
				alert(result);
			},
			error:function(error){
				console.log(error);
			}
		});
	});
});
</script>
</th:block>
</html>