<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<title>Inky</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
	integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv"
	crossorigin="anonymous">

<link rel="stylesheet" href="/css/style.css">
<style>
.member_btn{
width:150px;}
</style>
</head>
<body>
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>비밀번호 찾기</h3>
				</div>
				<div class="card-body">
					<form method="post" id="findpwForm">
						<div class="input-group form-group">
							<input type="text" id="username" name="uid" class="form-control"
								placeholder="아이디">
						</div>
						<div class="input-group form-group" id="emailform">
							<input type="text" id="uemail" name="uemail" class="form-control"
								placeholder="이메일">
						</div>
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
						<div class="form-group">
							<input type="submit" value="비밀번호찾기" id="findpw"
								class="btn float-right member_btn">
						</div>
					</form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center">
						<a href="#">돌아가기</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal"><!-- Place at bottom of page --></div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous">
</script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/addd4c8dc0.js"
	crossorigin="anonymous"></script>
<script th:inline="javascript">
$body = $("body");

$(document).on({
    ajaxStart: function() { $body.addClass("loading");    },
     ajaxStop: function() { $body.removeClass("loading"); }    
});
</script>
<script th:inline="javascript">
	$(document).ready(
			function() {
				var csrf = JSON.parse('[[${_csrf}]]');
				var locObj = $("#f1");
				var loc = window.location.href.toString().split(
						window.location.host)[1];
				loc = loc.substring(0, loc.indexOf("?")) + "?"
						+ $('#f1').find('input[name!=dest]').serialize();
				console.log(loc);
				$("#findpw").on("click", function(e) {
					e.preventDefault();
					var uid = $("input[name='uid']").val();
					var uemail = $("input[name='uemail']").val();
					var sendData = {
						uid : uid,
						uemail : uemail
					};
					$.ajax({
						type : 'post',
						url : '/member/findpw',
						data : JSON.stringify(sendData),
						contentType : "application/json",
						beforeSend : function(xhr) {
							xhr.setRequestHeader(csrf.headerName, csrf.token);
						},
						success : function() {
							alert("새 비밀번호를 입력하신 이메일에 보냈습니다. 확인해주세요.");
							location.href="/login";
						},
						error : function(error) {
							console.log(error);
							alert("아이디 또는 이메일이 맞지 않습니다.");
						}
					});
				});
			});
</script>
</body>
</html>