<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/member_main_layout}">
<head>
<meta charset="utf-8">
<style>
.card {
	height: 700px;
}
</style>
</head>
<section layout:fragment="content">
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>정보수정</h3>
				</div>
				<div class="card-body">
					<form method="post" id="modifyForm"
						th:with="member=${#authentication.principal.member}">
						<div class="input-group form-group">
							<input type="text" id="username" name="uid" class="form-control"
								th:value="${member.uid}" readonly="readonly">
						</div>
						<div class="input-group form-group">
							<input type="password" class="form-control" id="password"
								name="upw" placeholder="새비밀번호">
						</div>
						<div class="input-group form-group">
							<input type="password" class="form-control" id="password"
								name="upwchk" placeholder="새비밀번호확인">
						</div>
						<div class="input-group form-group" id="emailform">
							<input type="text" id="uemail" name="uemail" class="form-control"
								th:value="${member.uemail}" readonly="readonly">
						</div>
						<div class="input-group mb-3 profile-div">
							<div class="input-group-prepend">
								<i class="input-group-text" id="inputGroupFileAddon01">프로필</i>
							</div>
							<div class="custom-file">
								<input type="file" class="custom-file-input"
									id="inputGroupFile01" aria-describedby="inputGroupFileAddon01"
									name="uploadfile"> <label class="custom-file-label"
									for="inputGroupFile01">Choose file</label>
							</div>
						</div>
						<div class='profile-img form-group text-center'></div>
						<div class="input-group form-group">
							<input type="text" id="uname" name="uname" class="form-control"
								th:value="${member.uname}">
						</div>
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
						<div class="form-group">
							<input type="submit" value="정보수정" id="modify"
								class="btn float-right member_btn">
						</div>
					</form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center">
						<a href="#">돌아가기</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<th:block layout:fragment="script">
	<script th:inline="javascript" th:src="@{'/js/member.js'}"></script>
	<script th:inline="javascript">
		$(document).ready(function() {
			var formObj = $("#modifyForm");
			//초기 맴버 프로필 설정
			var uploads = [[${#authentication.principal.member.uploads}]];
			console.log(uploads);
			memberManager.setInitProfile(uploads);
			$("#inputGroupFile01").on("change",function(e) {
				console.log("fileUpload");
				var sendData = {
					formObj:formObj
				};
				memberManager.fileUpload(sendData);
			});
			$("#modify").on("click",function(e) {
				e.preventDefault();
				var uploadPath;
				var uploadfileName;
				var fForm = memberManager.getFileForm();
				var uid = formObj.find("[name='uid']").val();
				var upw = formObj.find("[name='upw']").val();
				var upwchk = formObj.find("[name='upwchk']").val();
				var uname = formObj.find("[name='uname']").val();
				if (upw != upwchk) {
					alert("새비밀번호와 새비밀번호 확인이 맞지 않습니다.");
					return;
				}
				var sendData = {
					uid : uid,
					upw : upw,
					uname : uname,
					uploads : fForm
				};
				console.log(sendData);
				memberManager.modify(sendData);
			});

		});
</script>
</th:block>

</html>