<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
</head>
<div th:fragment="header">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">INKY</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"
					th:if="${#authentication.principal} eq 'anonymousUser'"><a
					class="nav-link" href="/login"><i class="glyphicon glyphicon-pencil"></i>
						</i><span>로그인</span> </a></li>
				<li class="nav-item"
					th:if="${#authentication.principal} eq 'anonymousUser'"><a
					class="nav-link" href="/member/join"><i class="glyphicon glyphicon-user"></i>
						<span>회원가입</span></a></li>
				<li class="nav-item"
					th:if="${#authentication.principal} ne 'anonymousUser'"><a
					class="nav-link getmy" href="/member/getmy"><i
						class="glyphicon glyphicon-user"></i> <span>마이페이지</span></a></li>
				<li class="nav-item"
					th:if="${#authentication.principal} ne 'anonymousUser'"><a
					class="nav-link" href="/logout"><i
						class="glyphicon glyphicon-user"></i> <span>로그아웃</span></a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> 게시판 종류 </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/qna/list"><i
							class="glyphicon glyphicon-search"></i> <span>QnA</span></a> <a
							class="dropdown-item" href="/community/list"><i
							class="glyphicon glyphicon-heart-empty"></i> <span>커뮤니티</span></a> <a
							class="dropdown-item" href="/tech/list"><i
							class="glyphicon glyphicon-star-empty"></i> <span>Tech</span></a>
					</div></li>
			</ul>
		</div>
	</nav>
</div>
</html>