<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/member_main_layout}">
<head>
<meta charset="utf-8">
<style>
h3,h6{
color:white;
}
</style>
</head>
<section layout:fragment="content">
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>로그아웃</h3>
					<h6>정말로 로그아웃 하시겠습니까?</h6>
				</div>
				<div class="card-body">
					<form method="post">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
						<div class="form-group">
							<input type="submit" value="돌아가기"
								class="btn float-right member_btn redo_btn">
						</div>
						<div class="form-group">
							<input type="submit" value="로그아웃"
								class="btn float-right member_btn">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<th:block layout:fragment="script">
	<script th:inline="javascript">
$(document).ready(function(){
	$(".redo_btn").on("click",function(e){
		e.preventDefault();
		window.location.href = "/";
	});
});
</script>
</th:block>
</html>